.icon-size{
  font-size: 30px;
}
.text-left-top{
  text-align: initial;
}
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 10px;
}
.tab-pane{
  width:  90%;
}
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
.container-fluid-caja{
  margin: 1%;
}
.content-caja{
  margin: 1%;

}
.container-cabecera{
  align-content: flex-end;
  padding-right: 1.5%;
}
.nav-tabs {
 margin-top: -1.5%;
}
.navbar-right {
 margin-right:0.5%;
}
.loggin-button {
 margin-bottom: -27%;
}