#box1
{
    background: lightblue;
    width: 200px;
    border: 2px solid white;
    margin: 200px auto;
    padding: 2em;
    border-radius: 3px;
}
body{
    background: lightgray;
}
h1{
    font-family: arial;
    color: purple;
}
input
{
    border-radius:3px;
    padding:5px;
    margin: 5px;
    
}