/* -- Tipografia -- Colors corporatius -- */
/*Iconos:
-- user: glyphicon glyphicon-user --
-- colapse: glyphicon glyphicon-menu-hamburger --
*/
body{
  /*font-family: */
  font-family: 'Nunito', 'Nunito Sans', sans-serif;
}
h1{
  text-transform: capitalize;
}
h2{

}
h3{

}
h4{

}
p{
  margin: 5%;;
}
.buton{
  padding: 5%;
}
.bt1{
  text-transform: uppercase;
  background-color: #31b0d5;
  color: white;
}
.bt2{
  text-transform: inherit;
}
a{
  text-decoration: none;
  color: #000\9;
}
.container{
  float: none;
}
.color{
  height: 80%;
  padding: 2%;
}
.color1{
  height: 150px;
  width:  150px;
  
  background-color: #999;
}
.color2{
  height: 75px;
  width:  75px;

  background-color: lightgray;
}
.color3{
  height: 45px;
  width:  45px;
  background-color:grey;
}
.menuIcon{
  padding: 4%;
}
.userIcon{
  padding: 4%;
}