.icon-size{
  font-size: 30px;
}
a,span{
  color: black;
  text-decoration: none;
}
lis,.list-group-item{
  padding: 0px;
}
ul,li{
  margin: 0%;
  padding: 0%;
}
.list-group collapse {
  margin:0%;
  padding: 0%;
}
.list-group-item{
  padding-top: 1%;
  padding-bottom:  1%; 
}
.list-group-item>a{
  padding-left: 2%;

}
.sidenav {
  height: 100%;
  padding-left: 2%;
}
.container-cabecera{
  align-content: flex-end;
  padding-right: 1.5%;
}
.nav-tabs {
 margin-top: 1%;
 width: 100%;
}
.navbar-right {
 margin-right:0.5%;
}
.loggin-button {
 margin-right: 10%;
  margin-left: 5%;
}
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}



