
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 1024px) {
  body{
    font-size: 200%;
  }
  .dropdown-item{
    font-size: 150%;
  }
  .close{
    font-size: 150%;
  }
  .glyphicon{
    font-size: 300%;
  }
}
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  body{
    font-size: 150%;
  }
  .glyphicon{
    font-size: 150%; 
  }
}
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 
  body{
    font-size: 100%;
  }
  .glyphicon{
    font-size: 100%;
  }
}

.glyphicon-plus, .glyphicon-minus,.glyphicon-log-out{
  font-size: 100%;
}