/*
@media (max-width: 900px) {
    body{
        height: 700px;    
        font-size: 250%;
    }
    .list-group-item{
        background-color: #000;
    }
    .dropdown-item{
        font-size: 120%;
    }
    .close{
        font-size: 120%;
    }
    .w3-sidebar{
        width: 70%;  
    } 
    #casa{
        display: none;
    }
    div.sm-mb{
        display: block;
    }
    div.sxl-mb{
        display: none;
    }
    .content2{
        margin-top: 5%;
    }
}

@media (min-width: 900px) { 
    .glyphicon{
        font-size: 100%; 
    }
    .contenido{
        padding-left: 15%;
    }
    div.sxl-mb{
        display: block;
    }
    div.sm-mb{
        display: none;
    }
    .w3-sidebar{
        width: 16%;  
    } 
}*/
/*global*/

