
@media (max-width: 1024px) {
    body{
        height: 700px;    }
    .list-group-item{
        background-color: #000;
    }
    .dropdown-item{
        font-size: 120%;
    }
    .close{
        font-size: 120%;
    }
    .glyphicon{
        font-size: 150%;
    }
    .w3-sidebar{
        width: 70%;  
    } 
    #casa{
        display: none;
    }
    div.sm-mb{
        display: block;
    }
    div.sxl-mb{
        display: none;
    }
}

@media (min-width: 1024px) { 

    .glyphicon{
        font-size: 100%; 
    }
    .contenido{
        padding-left: 15%;
        margin-left: 2%;
    }
    div.sxl-mb{
        display: block;
    }
    div.sm-mb{
        display: none;
    }
    .w3-sidebar{
        width: 16%;  
    } 
}
/*global*/

.glyphicon-plus, .glyphicon-minus,.glyphicon-log-out{
    font-size: 100%;
}